/*** Top-level style ***/
body {
  font-family: Verdana;
  font-size: 12pt;
}

/* Make links black */
a{color: Black !important;}

.column {
  display: flex;
}

/* Set the color theme */
.kp-header {
  background: Tan !important;
  color: Black !important;
}
.kp-section{
  background: #f8f3ed;
  color: Black;
  padding: 1rem 1rem !important;
}
.kp-footer{
  background: Tan !important;
  color: Black !important;
}

/* Reduce the bottom margin of an element */
.kp-noBottomMargin{
  margin-bottom: 0rem !important;
}

/* Set the anchor link to respect the sticky header */
.kp-anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}

/* Set a nice link color (same for mail) */
.kp-link{
  color: DarkSlateGrey !important;
  font-weight: 500;
  font-size: 13pt;
}
.kp-mail{
  color: DarkSlateGrey !important;
  font-size: 14pt;
  font-weight: 100;
}

/* Styling for the map section */
.kp-mapSection{
  background: White;
  color: Black;
  padding: 1rem 1rem !important;
}

/*=== Visualization Elements ===*/

/* Map */
.kp-map {
  width:100%;
  height:375px;

  border: .5px solid Silver;
  border-radius: 5px;
  z-index: 0;
}

/* Table */
.kp-table{
  overflow: auto;
  max-height: 500px;
  width:100%;
  height:375px;

  border: .5px solid Silver;
  border-radius: 5px;
}
.kp-table-remote{
  overflow: auto;
  /*max-height: 500px;*/
  width:100%;
  height:600px;

  border: .5px solid Silver;
  border-radius: 5px;
}
#list-table-remote{
  height:600px;
}
table {
  text-align: left;
  position: relative;
}
th {
  position: sticky;
  top: 0;
  cursor: pointer;
  color: black;
  background: AliceBlue;
}
th:hover{
  color: black;
  background: #e6f3ff;
}
.kp-right{
   float: right;
}

/* Timeline */
.kp-timeline{
  background-color: white;
  width:100%;

  margin-top: 0rem;
  padding-top: 0rem;

  border: .5px solid Silver;
  border-radius: 5px;
}


.timelineRect{
    fill: White;
    pointer-events: none;
    /*opacity: .25;*/
}
.allTimelineRect{
  fill: #7d7d7d;
}

/* Testing rects */
.rect-out{
    fill: White;
    opacity: .75;
    stroke: none;
    stroke-width:.5px;
    border: 5px solid Silver;

}
.rect{
    fill: HoneyDew;
    /*opacity: 0.25;*/
    stroke: red;
    stroke-width:2.75px;
}

.rect-in{
    fill: white;
    opacity: 1;
    stroke: gray;
    stroke-width:.25px;
}

.legendRect{
  cursor: pointer;
}


/* Timeline styles */
.timeline-dots{
  shape-rendering:geometricPrecision;
  cursor: context-menu;
}
.timeline-text{
    font-family: Verdana;
    /*font-size: 10pt;*/
    cursor: pointer;
}
.timelineSliderRect{
    fill: AliceBlue;
    stroke: silver;
    stroke-width: 2.5px;
    opacity: .25;
    pointer-events: none;
}
.timelineSliderRectOut{
    fill: White;
    opacity: .75;
    pointer-events: none;
}
.topGroup{
    background-color: black;
    border: solid;
    border-width: 10px;
}

.timelineChart{
 background-color:  AliceBlue;;
 opacity: .25;
}

/* Axes styles */
.axisGroup{
  z-index: 10;
}
.axisGroup path,
.axisGroup line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;

}
.axisGroup text{
    font-family: Verdana;
    font: 10pt sans-serif;
}

/* Guideline styles */
.guideline{
    background: red;
    stroke: silver;
    stroke-width: 2.5px;
    stroke-linecap:"round";
}
.guideline text{
    font-family: Verdana;
    font: 12px sans-serif;
    stroke: black;
    stroke-width: .5px;
}

/* Timeline tooltip style */
div.tooltip {
    display:inline-block;
    position: absolute;
    text-align: center;
    /*height: 50px;*/
    padding: 4px;
    font: 12px sans-serif;
    background: gainsboro;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}

.textList{
    font-family: Verdana;
    font-size: 10pt;
    overflow: auto;
}

.legend{
    overflow: auto;
}
